<div class="content">
  <div class="title">
    <h1>Usuários</h1>
  </div>

  <div>
    <button (click)="adicionarUsuario()" mat-raised-button>
      Cadastrar Usuário
    </button>
  </div>
  <div mat-table class="mat-elevation-z8 content-table">

    <table [dataSource]="usuarios" class="table" mat-table>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let row"> {{ row.cpf }} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row"> {{ row.nome }} </td>
      </ng-container>

      <ng-container matColumnDef="telas">
        <th mat-header-cell *matHeaderCellDef> Telas </th>
        <td mat-cell *matCellDef="let row">
          <span *ngFor="let tela of row.telas">{{tela.nome}}, </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Ações</th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button aria-label="Editar Usuário" (click)="editar(row)">
            <i class="material-icons icone-editar"> edit </i>
          </button>

          <button mat-icon-button aria-label="Excluir Usuário" (click)="excluir(row)">
            <i class="material-icons icone-excluir"> delete </i>
          </button>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</div>
