.content{
  width: 90%;
  margin: 1.4rem auto auto;
}

.title{
  text-align: center;
  margin-bottom: 3rem;
}

.title h1{
  font-size: 2rem;
  color: black;
  font-weight: 500;
}
.material-icons.icone-excluir{
  color: indianred;
}

.material-icons.icone-editar{
  color: black;
}

.table{
  width: 100%;
}

button:hover{
  background-color: #66E4A4;
}

button {
  margin-bottom: 1rem;
}
