<div class="container">

  <div class="title">
    <h1>Entrada Clientes</h1>
  </div>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label>Selecione um Cliente</mat-label>
        <mat-select formControlName="cliente"
                    required>
          <mat-option *ngFor="let cliente of cliente" [value]="cliente" >{{cliente.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>RFID</mat-label>
        <input matInput
               formControlName="rfid"
               required
               [minlength]="10"
               [maxlength]="10">
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions>


    <button class="salvar" [disabled]="!form.valid" (click)="vincularCartaoCliente()" style="background-color: #01a86c" mat-raised-button>
      Vincular Cartão ao Cliente
    </button>

  </mat-card-actions>

  <mat-card-content>

    <div class="title">
      <h1>Clientes com Cartão Vinculado</h1>
    </div>

    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Juliano" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.cpf}} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef> Telefone </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.telefone}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.email}} </td>
        </ng-container>

        <ng-container matColumnDef="rfid">
          <th mat-header-cell *matHeaderCellDef> RFID </th>
          <td mat-cell *matCellDef="let element"> {{element.rfid}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </mat-card-content>

</div>
