<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Preço do Self-Service</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="precoForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Preço</mat-label>
        <input    matInput
                  type="number" step="0.01" placeholder="0.00"
                  formControlName="preco"
                  name="preco"
                  required>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
    </form>


  </mat-card-content>

  <mat-card-actions>

    <button (click)="cancelar()" class="cancelar" style="background-color: indianred" mat-raised-button>
      Cancelar
    </button>

    <button class="salvar" [disabled]="!this.precoForm.value['preco']" (click)="alterarPreco()" style="background-color: #01a86c" mat-raised-button>
      Registrar novo preço
    </button>

  </mat-card-actions>
</mat-card>
