.example-spacer {
  flex: 1 1 auto;
}


p{
  color: white;
}

size-sidenav a{
  color: white;
}

.container{
  height: 85%;
}

i{
  padding-right: .6rem;
}

a{
  color: white;
}

.nav-bar{
  height: 110px;
}

.size-sidenav {
  width: 220px;
  height: 88vh;
}
a:hover{
  background-color: #66E4A4;
}

button:hover{
  background-color: #66E4A4;
}

.cor-principal{
  background-color: #0B2641;
}

.branco{
  color: white;
}



