<mat-toolbar *ngIf="estaLogado()" class="cor-principal nav-bar">
<!--  <button (click)="sidenav.toggle()" mat-icon-button>-->
<!--    <mat-icon class="branco">menu</mat-icon>-->
<!--  </button>-->
  <span class="branco">Restaurante e Chopperia - Grupo 4</span>
  <span class="example-spacer"></span>
  <span class="usuario">Bem-vindo {{nomeUsuarioLogado}}</span>

  <button (click)="logout()" mat-icon-button>
    <mat-icon class="branco">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav *ngIf="estaLogado()" class="size-sidenav" #sidenav mode="side" opened>
    <mat-nav-list>

      <a *ngIf="veririficarUsuario('Home')" routerLink="/home" mat-list-item >
        <div>
          <i class="material-icons" style="float: left;">home</i>
        </div>
        Home
      </a>

      <a *ngIf="veririficarUsuario('Usuários')" routerLink="/usuarios" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">supervised_user_circle</i>
        </div>
        Usuários
      </a>

      <a *ngIf="veririficarUsuario('Produtos')" routerLink="/produtos" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">stars</i>
        </div>
        Produtos
      </a>

      <a *ngIf="veririficarUsuario('Entrada Estoque')" routerLink="/estoque/entrada" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">assignment_returned</i>
        </div>
        Entrada Estoque
      </a>

      <a *ngIf="veririficarUsuario('Saída Estoque')" routerLink="/estoque/saida" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">assignment_return</i>
        </div>
        Saída Estoque
      </a>

      <a *ngIf="veririficarUsuario('Cartão RFID Cliente')" routerLink="/clientes" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">person</i>
        </div>
        Clientes
      </a>

      <a *ngIf="veririficarUsuario('Caixa')" routerLink="/caixa" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">add_shopping_cart</i>
        </div>
        Caixa
      </a>

      <a *ngIf="veririficarUsuario('Self-Service')"  routerLink="/selfservice" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">restaurant_menu</i>
        </div>
        Self-Service
      </a>

      <a *ngIf="veririficarUsuario('Choperia')" routerLink="/chopes" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">local_drink</i>
        </div>
        Chopes
      </a>

      <a *ngIf="veririficarUsuario('Servir Chope')" routerLink="/servir-chope" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">local_drink</i>
        </div>
        Servir Chope
      </a>

      <a *ngIf="veririficarUsuario('Cozinha')" routerLink="/cozinha" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">kitchen</i>
        </div>
        Cozinha
      </a>

      <a *ngIf="veririficarUsuario('Entrada Clientes')" routerLink="/clientes/entrada" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">directions_run</i>
        </div>
        Entrada Clientes
      </a>

      <a *ngIf="veririficarUsuario('Saída Clientes')" routerLink="/clientes/saida" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">directions_run</i>
        </div>
        Saída Clientes
      </a>

      <a *ngIf="veririficarUsuario('Relatórios')" routerLink="/relatorios" mat-list-item>
        <div>
          <i class="material-icons" style="float: left;">note</i>
        </div>
        Relatórios
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>



