<div class="container">

  <div class="title">
    <h1>Self-Service</h1>
  </div>

  <div class="form">
    <form [formGroup]="formGroup">
      <mat-form-field appearance="fill" class="InputCpf">
        <mat-label>RFID</mat-label>
        <input matInput
               formControlName="cartao"
               id="rfidInput"
               [minlength]="10"
               [maxlength]="10"
               (change)="findClienteByRFID($event)">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput
               formControlName="nome"
               name="nome"
               id="nome">

      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Preço do KG</mat-label>
        <input matInput
               formControlName="preco"
               name="preco"
               type="number" step="0.01" min="0.01">
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Peso</mat-label>
        <input matInput
               formControlName="peso"
               name="peso"
               required
               type="number" step="0.01" min="0.01"
               (change)="multValorTotal($event)">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Valor Total</mat-label>
        <input matInput
               formControlName="valorTotal"
               name="valorTotal"
               required
               type="number" step="0.01" min="0.01">
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

    </form>
    <div>
      <button mat-raised-button (click)="registrarPedido()" [disabled]="!formGroup.valid" >
        Registrar pedido
      </button>


      <button mat-raised-button (click)="abrirCriarNotificacao()">
        Registrar itens para reposição
      </button>

      <button mat-raised-button (click)="abrirAlterarPrecoSelfService()">
        Alterar preço do Self-service
      </button>

      <button mat-raised-button (click)="iniciarBalanca()">
        Balança
      </button>

    </div>
  </div>

</div>
