<div class="container">
  <div class="title">
    <h1>Usuários</h1>
  </div>

  <div>
    <button (click)="create()" style="background-color: #01a86c;" mat-raised-button>
      Cadastrar Usuário
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Douglas" #input>
  </mat-form-field>

  <div mat-table class="mat-elevation-z8 content-table">

    <table mat-table [dataSource]="dataSource" class="table" >

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let row"> {{ row.cpf }} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row"> {{ row.nome }} </td>
      </ng-container>

      <ng-container matColumnDef="telas">
        <th mat-header-cell *matHeaderCellDef> Telas </th>
        <td mat-cell *matCellDef="let row">
          <span *ngFor="let tela of row.telas">{{tela.nome}}, </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Ações</th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button aria-label="Editar Usuário" (click)="update(row)">
            <i class="material-icons icone-editar"> edit </i>
          </button>

          <button mat-icon-button aria-label="Excluir Usuário" (click)="delete(row)">
            <i class="material-icons icone-excluir"> delete </i>
          </button>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


</div>
