<div class="container">

  <div class="title">
    <h1>Servir Chope</h1>
  </div>

  <mat-card-content>

    <mat-form-field class="full-width">
      <mat-label>Selecione um Chope</mat-label>
      <mat-select [(ngModel)]="chopeSelecionado.chope"
                  name="chope"
                  required>
        <mat-option *ngFor="let chope of chopes" [value]="chope.rfidChop" >{{chope.nomeChope}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-content>
      <label></label>
      <strong>{{ preco | currency:'BRL':'symbol' }}</strong>
    </mat-card-content>


      <mat-form-field appearance="fill" class="full-width">
        <mat-label>RFID</mat-label>
        <input matInput
               [(ngModel)]="chopeSelecionado.cartao"
               name="cartao"
               id="inputRfid"
               required
               [minlength]="10"
               [maxlength]="10"
               (keydown.enter)="servirChope()">
      </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
  </mat-card-actions>

</div>
