
.container{
  width: 60%;
  margin: 1rem auto;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
}

.price-container {
  margin-left: 1rem;
}

.title{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.title h1{
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.InputCpf{
  width: 500px;
}

.button {
  margin-right: 1rem;
  margin-top: 1.5rem;
}

table {
  width: 100%;
}

strong{
  font-size: 1.5rem
}

.material-icons.icone-excluir{
  color: indianred;
}

.material-icons.icone-editar{
  color: #0B2641;
}
