
<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Editar Usuário</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">

      <mat-form-field class="full-width">
        <input matInput
               placeholder="CPF"
               formControlName="cpf" name="cpf"
               maxlength="10"
               mask="000.000.000-00">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput
               placeholder="Nome"
               formControlName="nome" name="nome">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select multiple formControlName="telas" placeholder="Telas" name="telas" id="telas">
          <mat-option *ngFor="let tela of telas" [value]="tela" >{{tela.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>

    <button class="salvar" (click)="salvar()" style="background-color: #01a86c" mat-raised-button>
      Salvar
    </button>

    <button (click)="cancelar()" class="cancelar" style="background-color: indianred" mat-raised-button>
      Cancelar
    </button>

  </mat-card-actions>
</mat-card>

