<div class="container">

  <div class="title">
    <h1>Relatórios</h1>
  </div>

  <div class="botoes">

    <button (click)="abrirModalRelatorioEstoqueProduto()" mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Estoque (Produto e Chope)</span>
    </button>

    <button (click)="abrirModalRelatorioFaltaEstoque()" mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Falta de Estoques</span>
    </button>

    <button (click)="abrirModalRelatorioChopesConsumidos()" mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Chopes Consumidos</span>
    </button>

    <button (click)="abrirModalRelatorioGastosClientes()" mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Gastos dos Clientes</span>
    </button>

    <button (click)="abrirModalRelatorioReceitasDespesas()" mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Receita x Despesas</span>
    </button>

    <button (click)="abrirModalEnviarEmail()" mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <mat-icon>email</mat-icon>
      <span>Enviar E-mail</span>
    </button>

  </div>

</div>
