<div class="container">

  <div class="title">
    <h1>Relatórios</h1>
  </div>

  <div class="botoes">

    <button mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Produtos</span>
    </button>

    <button mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Chopes</span>
    </button>

    <button mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Clientes</span>
    </button>

    <button mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <span>Administrativo</span>
    </button>

    <button (click)="abrirModalEnviarEmail()" mat-raised-button mat-button-large mat-button-rounded style="background-color: #01a86c; padding: 50px; font-size: 1rem">
      <mat-icon>email</mat-icon>
      <span>Enviar E-mail</span>
    </button>

  </div>

</div>
