<div class="container">

  <div class="title">
    <h1>Produtos</h1>
  </div>

  <div>
    <button mat-raised-button (click)="create()" style="background-color: #01a86c;">
      Cadastrar Produto
    </button>


    <button mat-raised-button (click)="imprimirCodBarras()" style="background-color: #0B2641; color: white">
      Imprimir Cód. Barras
    </button>

  </div>


  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Macarrao" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="codBarras">
        <th mat-header-cell *matHeaderCellDef> Cód. Barras </th>
        <td mat-cell *matCellDef="let element"> {{element.codigoBarras}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="saldoEstoque">
        <th mat-header-cell *matHeaderCellDef> Saldo Estoque </th>
        <td mat-cell *matCellDef="let element"> {{element.saldoEstoque}} </td>
      </ng-container>

      <ng-container matColumnDef="precoCompra">
        <th mat-header-cell *matHeaderCellDef> Preço Compra </th>
        <td mat-cell *matCellDef="let element"> {{element.precoCompra}} </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="unidadeCompra">
        <th mat-header-cell *matHeaderCellDef> Unidade </th>
        <td mat-cell *matCellDef="let element"> {{element.unidadeCompra}} </td>
      </ng-container>

      <ng-container matColumnDef="pontoCompra">
        <th mat-header-cell *matHeaderCellDef> Ponto Compra </th>
        <td mat-cell *matCellDef="let element"> {{element.pontoCompra}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">

          <button (click)="update(element)" mat-icon-button aria-label="Editar Usuário">
            <i class="material-icons icone-editar"> edit </i>
          </button>

          <button (click)="delete(element)" mat-icon-button aria-label="Excluir Usuário">
            <i class="material-icons icone-excluir"> delete </i>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
