button.botao-sim{
  background-color: #01a86c;
}

button.botao-cancelar{
  background-color: indianred;
}

.center{
  margin: 1rem;
  text-align: right;
}

.title {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2;
}
