
.container{
  width: 60%;
  margin: 1rem auto;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.title{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title h1{
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.campoQuantidade{
  width: 90%;
}



button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

.material-icons.icone-excluir{
  color: indianred;
}

.material-icons.icone-editar{
  color: #0B2641;
}
