<div class="container">

  <div class="title">
    <h1>Clientes</h1>
  </div>

  <div>
    <button mat-raised-button (click)="create()" style="background-color: #01a86c;">
      Cadastrar Cliente
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Juliano" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">

          <button (click)="update(element)" mat-icon-button aria-label="Editar Cliente">
            <i class="material-icons icone-editar"> edit </i>
          </button>

          <button (click)="delete(element)" mat-icon-button aria-label="Excluir Cliente">
            <i class="material-icons icone-excluir"> delete </i>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
